.container-3 {
	width: 80%;
	
	padding: 20px;
	margin: 0 auto;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.main-header .container-3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 29%;
    border: solid 1px #e2e8f0;
    border-radius: 10px;
    padding: 0px 20px 5px 20px;
    height: 180px;
    margin-bottom: 20px;
}

.card-info:hover {
    
    box-shadow: 5px 6px 5px 0px rgba(64,62,62,0.19);

}

.card-name {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.align-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-porcent {
    color: #5B6776;
    
}

.card-text {
   
        font-size: 12px;
        font-family: "Inter";
        font-weight: 400;
        margin-top: 10px;
        color: #79808A;
    }

    .card-price {
        font-size: 18px;
        font-family: "Inter";
        font-weight: 500;
        margin-top: 10px;
        color: #4F46E5;
        margin-bottom: 5px;
    }

    .card-gray {
        font-size: 12px;
       
        color: #B8B6F7;
    }

    .barra{
        margin-top: 0px;

    }


    @media  (max-width: 375px) {

       
        .main-header .container-3 {
            display: block;
            
        }

        .container-3 {
            width: 88%;
            margin-left: 20px;
            margin-right: 10px;
        }

        .card-info {
            
            width: 90%;
            margin-bottom: 10px;
            
        }

    }