.container {
	width: 80%;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    border-bottom: solid 1px #e2e8f0;
}

.mh-logo {
	cursor: pointer;
}




.class-icon {
    text-decoration: none;
    
}

.img-icon {
    width: 25px;
	
}

.icon {
	display: inline;
    padding-left: 20px;
}

.space-right {
    padding-right: 30px;
}

.mh-logo-mobile {
	display: none;
}




@media  (max-width: 375px) {

	.container {
		width: 90%;
		
	}

	.mh-logo {
		display: none;
	}

	.mh-logo-mobile {
		display: block;
	}
}
