
.container-2 {
	width: 80%;
	
	padding: 20px;
	margin: 0 auto;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.main-header .container-2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
    
}

.font-tittle {
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 800;
}

.p-tittle {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
}








.container-fluid {
	width: 80%;
	
	padding: 20px;
	margin: 0 auto;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.main-header .container-fluid {
	
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    border: solid 2px #e2e8f0;
    border-radius: 10px;
    padding: 0px 20px 5px 20px;
    height: 150px;
}


.name-user {

    font-size: 24px;
    font-family: 'Inter';
    font-weight: 800;
    margin-top: 10px;

}

.price-user {

    font-size: 32px;
    font-family: 'Inter';
    font-weight: 400;
    color: #344055;
    padding-left: 5px;
    

}

.img-dots{
    margin-top: -35px;
    cursor: pointer;
}


.info-functions {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
    width: 36%;
    
    
    height: 150px;
}

.border-dinero {
    border: solid 2px #e2e8f0;
    border-radius: 10px;
    padding: 0px 40px 5px 40px;
    height: 150px;
    cursor: pointer;
}

.border-right{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}

.border-left{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}



@media  (max-width: 375px) {

    .container-fluid {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 0px;
    }

	.main-header .container-2 {
        display: block;
        
    }

    .container-2 {
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .info-functions {
       
        width: 100%;
        height: auto;
        padding-top: 10px;
        justify-content: flex-start;
        
       
    }

    .price-user {
        
        margin-bottom: 10px;
    }

    .info {
        
        height: 140px;
        width: 88%;
    }

    .border-dinero {
        height: 120px;
        padding: 0px 33px 5px 33px;
    }

    .font-tittle {
        font-size: 32px;
        font-family: "Inter";
        font-weight: 800;
        margin-bottom: 0;
    }

    .p-tittle {
        font-size: 14px;
        font-family: "Inter";
        font-weight: 400;
        margin-bottom: 0;
    }
}

